@import 'styles/theme.sass'

.sidebar
    display: flex
    flex-direction: column
    position: fixed
    height: 100%
    border-right: 1px solid $divider
    box-shadow: 0 5px 6px 0 $shadow
    background-color: rgba($header-footer, 0.8)
    backdrop-filter: blur($blur)
    width: 6rem
    min-width: 6rem
    z-index: 2

.sidebarClosed
    transition: all 0.5s ease

    .card
        transition: color 0.5s ease
    .hamburger
        transition: transform 0.5s ease
        
.sidebarOpen
    transition: all 0.5s ease
    width: 6%
    min-width: 11rem
    color: $text-dark
    transition: all 0.5s ease


    .hamburger
        transition: transform 0.5s ease
        transform: rotate(90deg)

.card
    margin: 0.5rem 1rem 0.5rem 1rem
    flex-basis: 4rem
    text-align: center
    color: transparent
    // background-color: rgba($text-light,0.6)
    text-decoration: none
    font-weight: bold
    border: 2px solid rgba($secondary, 0.5)
    border-radius: 8px
    // box-shadow: 3px 3px 6px 0 rgba(0,0,0,.2)
    transition: color 0.5s ease, border-color 0.5s ease, box-shadow 0.5s ease, background-color 0.5s ease

    a
        height: 100%
        pointer-events: none
            
    a div
        padding: 1rem
        z-index: 1   
    
.activeCard
    color: $text-light !important
    border-color: $text-light
    box-shadow: 3px 3px 6px 0 $highlight
    background-color: rgba($primary,0.95)

.clickable
    color: $text-dark
    a
        pointer-events: auto

.clickable:hover,
.clickable:focus,
.clickable:active
    color: $text-light
    border-color: $text-light
    box-shadow: 3px 3px 6px 0 $highlight
    background-color: rgba($primary,0.95)

.hamburger
    margin-top: 1rem
    margin-right: auto
    margin-left: 1rem
    border: 0
    background-color: transparent
    width: 4rem    

.label
    display: flex
    flex-direction: row
    justify-content: space-between

.icon
    transform: scale(1.4) 

.hide
    color: transparent
    transition: color 0.1s ease-out

.show
    transition: color 0.3s ease-in
    transition-delay: 0.1s