@import 'styles/theme'

.title
  color: $text-dark
  margin: 8rem
  line-height: 1.15
  font-size: 3.6rem
  text-align: center
  // text-shadow: 1px 1px 3px rgba(#7272728f, 0.5)

  & a
    color: $primary
    text-decoration: none

  #blurb 
    font-size: 25px
    color: $secondary
    text-shadow: none

.links 
  margin-top: 2rem
  display: flex
  flex-direction: row
  justify-content: center
  
  & a 
    margin-right: 1rem
    
.link
  height: 2.5rem
  transition: filter 0.5s ease

.link:hover,
.link:focus,
.link:active
  filter: drop-shadow(4px 4px 1px rgba(167, 167, 167, 0.473))

// .title a:hover,
// .title a:focus,
// .title a:active
//   text-decoration: underline

.column
  position: relative
  width: 1100px
  right: 170px
  background-color: $header-footer
  border-radius: 10px
  border: 2px $secondary solid
  padding: 1rem
  background-color: rgba($header-footer, 0.95)
  backdrop-filter: blur($blur)
  transition: opacity 0.5s ease

@media (max-width: $mobile-width)
  .column
    width: 100vw
    right: 0

.hide 
  opacity: 0