@import 'styles/theme.sass'

.container
  margin-left: 0
  min-height: 100vh
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  font-size: 18px
  z-index: 2

.section
  padding: 8px
  margin: 0 5% 0 5%
  color: $text-dark
  justify-content: center
  margin-bottom: 80px
  &Border
    border-top: 1px dashed $divider
  
  p
    padding: 10px 10px 30px 10px
  
.heading
  font-size: calc( 1rem + 10px  )
  text-align: left

.link
    height: 18px
    filter: grayscale(1)
    transition: filter 0.3s linear

.link:hover,
.link:focus,
.link:active
  filter: grayscale(0)
  transition: filter 0.3s linear
