@import 'styles/theme'

.root
    background-color: $background
    width: 100vw

.footer
    position: relative
    bottom: 0rem
    min-height: 5rem
    width: 100%
    height: 1200px
    border-top: 1px solid $divider
    background-color: $header-footer
    color: $text-dark
    backdrop-filter: blur($blur)
    z-index: 3

    & img
        margin-left: 0.5rem

    & a
        padding-top: 1rem
        display: flex
        justify-content: center
        align-items: center
        text-decoration: none
        color: inherit

.logo
    height: 1em
