$primary: #7e558f
$secondary: #686868
$highlight: rgba(202, 202, 185, 0.507)
$divider: #c7c7c7
$shadow: rgba(94, 94, 94, 0.411)
$glow: #a780b8
$glow-shadow: #7f5492
$header-footer: rgba(202, 202, 185, 0.507)  

