$background: rgba(235, 235, 235, 0.5)
$primary: #7e558f
$secondary: #686868
$highlight: rgba(185, 162, 189, 0.863)
$divider: #c7c7c7
$shadow: rgba(100, 100, 100, 0.596)
$glow: #a780b8
$glow-shadow: #7f5492
$header-footer: rgba(228, 224, 213, 0.637)  
$text-dark: #3f3f3f
$text-light: #d8d8d8
$blur: 3px
