@import 'styles/theme.sass'

html,
body 
    padding: 0
    margin: 0
    font-family: 'Courier New', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    overflow-x: hidden


html 
    scroll-behavior: smooth


a 
    color: $primary

* 
    box-sizing: border-box


html,
body,
p 
    font-size: 14px

img 
    max-width: 100%
    height: auto
